.project
.factorypath
.classpath
.settings/
/target/

# dependencies
/templates/webhelp-documentation-template-react/src/react/.pnp
/templates/webhelp-documentation-template-react/src/react/node_modules/
/templates/webhelp-documentation-template/src/javascript/node_modules/
/templates/webhelp-documentation-template-react/src/react/react.pnp.js

# testing
/templates/webhelp-documentation-template-react/src/react/coverage

# production
/templates/webhelp-documentation-template-react/src/react/build

/doc/project-documentation/out/
/doc/project-documentation/tasks/out/
/doc/mobile-phone/out/
/templates/webhelp-documentation-template/html/temp/webhelp-responsive/wh-template-copy-resources.xml
/templates/webhelp-documentation-template/js/
/templates/webhelp-documentation-template-react/js/
/doc/project-documentation/project-documentation.xpr
/templates/**/temp
