body {
  margin: 0;

  font-family: "Play", sans-serif;
}

/* Information Section */

.information-container {
  display: flex;

  margin-left: 25px;
  margin-right: 25px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hits-information {
  width: 50%;
}

.page-information {
  width: 50%;

  text-align: right;
}

/* Results section */

.results-container {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.hits-container {
  position: absolute;

  width: 75%;
  height: 100%;

  float: right;

  margin-right: 5%;

  position: relative;
}

.hits {
  position: relative;

  list-style: none;

  padding: 0;
}

.hits-item {
  padding-top: 25px;
  position: relative;
}

.title {
  text-decoration: none;
  line-height: 20px;
  letter-spacing: 2px;
  color: #3e34d3;
  font-size: 18px;

  display: block;

  width: fit-content;

  margin-bottom: 10px;
}

.description {
  font-size: 16px;

  display: block;
}

.documentation {
  font-size: 12px;

  color: gray;

  display: block;
  width: 50%;
  text-align: right;
  float: right;
}

.breadcrumb {
  width: fit-content;
  padding: 0;
}

.breadcrumb-element {
  padding-left: 5px;
}

.no-results {
  width: 50%;

  text-align: center;
  color: #3e34d3;
  font-size: 30px;

  margin: 0 auto;
  margin-top: 30px;
}

/* Page selection */

.page-selection {
  width: 100%;
  margin-top: 50px;

  display: flex;
  justify-content: center;
}

.page-selector {
  background-color: #c4c0ff;
  border-radius: 3px;
  border: 1px solid #3e34d3;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #2f27aa;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  text-align: center;
  touch-action: manipulation;
  vertical-align: baseline;
}

.page-selector:hover {
  background-color: #c4c0ff;
  color: #1f1972;
}

.page-selector-disabled {
  color: gray;
  cursor: default;
}

.page-selector-disabled:hover {
  background-color: #c4c0ff;
  color: gray;
}

/* Loader */

.loader {
  display: flex;
  justify-content: center;
}

/* Filtering */

.filter-container {
  width: 15%;
  height: 100%;

  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;

  float: left;

  border: 2px solid #3e34d3;
  border-radius: 10px;

  text-align: left;
  overflow-wrap: break-word;
}

.filter-title {
  text-align: center;
}

.filter-selection {
  text-align: center;
  margin-left: 5%;
}

.filter-label {
  text-align: center;
  word-break: break-word;
}

.filter-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-button {
  margin-top: 10%;
  width: 75%;
  font-size: 14px;
  font-weight: 550;

  transition-duration: 0.4s;

  background: none;
  border: 1px solid #3e34d3;
  border-radius: 5px;
}

.filter-button:hover {
  background-color: #2f27aa;
  color: white;
}

.filter-button:active {
  background-color: #3e34d3;
}
