body {
  margin: 0;

  font-family: "Play", sans-serif;
}

/* Information Section */

.information-container {
  display: flex;

  margin-left: 2%;
  margin-right: 2%;

  width: 95%;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hits-information {
  width: 50%;
}

.page-information {
  width: 50%;

  text-align: right;
}

/* Results section */

.results-container {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.hits-container {
  position: absolute;

  width: 76%;
  height: 100%;

  float: left;

  position: relative;
}

.hits {
  position: relative;

  list-style: none;

  padding: 0;
}

.hits-item {
  padding: 15px;
  position: relative;

  margin-top: 10px;

  background: #f5f6fa 0% 0% no-repeat padding-box;
}

.hits-item:first-child {
  margin-top: 25px;
}

.hits-item:last-child {
  margin-bottom: 25px;
}

.title {
  font-family: "Roboto", sans-serif;

  text-decoration: none;
  line-height: 20px;
  letter-spacing: 2px;
  color: #9893df;
  font-size: 16px;

  display: block;

  width: fit-content;

  margin-bottom: 0px;
}

.description {
  font-size: 12px;
  font-family: "Roboto", sans-serif;

  color: #939394;

  display: block;
}

.documentation {
  font-size: 12px;

  color: gray;

  display: block;
  width: 50%;
  text-align: right;
  float: right;
}

.breadcrumb {
  width: fit-content;

  background: none;

  padding: 0;
}

.breadcrumb-element {
  font-family: "Roboto", sans-serif;
  font-size: 11px;

  color: #b9b9b9;
}

.no-results {
  width: 50%;

  text-align: center;
  color: #9893DF;
  font-size: 26px;
  font-family: "Roboto", sans-serif;

  margin: 0 auto;
  margin-top: 25px;
}

/* Page selection */

.page-selection {
  width: 74%;

  margin-right: 5%;
  margin-left: auto;

  margin-bottom: 75px;
}

div.page-selection button:nth-last-child(1) {
  margin-left: 20px;
}

.page-selector {
  cursor: pointer;
  touch-action: manipulation;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #9893df;
  border-radius: 4px;
  opacity: 1;

  text-align: center;
  color: #9893df;

  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0px;

  width: 93.8px;
  height: 33px;
}

.page-selector-disabled {
  cursor: default;
}

/* Loader */

.loader {
  display: flex;
  justify-content: center;
}

/* Filtering */

.filter-container {
  width: 17%;
  height: 100%;

  margin-left: 2%;
  margin-right: 2%;
  margin-top: 25px;

  padding-bottom: 15px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dcdcdc;
  opacity: 1;

  float: left;

  text-align: left;
  overflow-wrap: break-word;
}

.filter-section {
  margin-top: 25px;
  margin-left: 7%;
}

.filter-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.filter-selection {
  text-align: center;
  color: #707070;
}

.filter-label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;

  text-align: center;
  word-break: break-word;
  color: #707070;

  margin-left: 5%;
}

.filter-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #dcdcdc;

  text-align: left;
}

.filter-text {
  font-family: "Roboto", sans-serif;
  font-size: 13px;

  width: 30%;

  text-align: center;
}

.filter-button {
  width: 35%;

  font-family: "Roboto", sans-serif;
  font-size: 11px;

  letter-spacing: 0px;
  color: #9893df;
  opacity: 1;

  padding: 0;
  border: 0;
  background: none;
}

.filter-button:focus {
  border: none;
  outline: none;
}
