body {
  margin: 0;

  font-family: "Play", sans-serif;
}

/* Information Section */

.information-container {
  display: flex;

  margin-left: 25px;
  margin-right: 25px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hits-information {
  width: 50%;
}

.page-information {
  width: 50%;

  text-align: right;
}

/* Results section */

.results-container {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.hits-container {
  position: absolute;

  width: 75%;
  height: 100%;

  float: right;

  margin-right: 5%;

  position: relative;
}

.hits {
  position: absolute;

  list-style: none;

  padding: 0;
}

.hits-item {
  padding-top: 25px;
  position: relative;
}

.title {
  text-decoration: none;
  line-height: 20px;
  letter-spacing: 2px;
  color: cadetblue;
  font-size: 18px;

  display: block;
}

.description {
  font-size: 16px;

  display: block;
}

.no-results {
  width: 50%;

  text-align: center;
  color: cadetblue;
  font-size: 30px;

  margin: 0 auto;
}

/* Page selection */

.page-selection {
  width: 100%;
  margin-top: 50px;

  display: flex;
  justify-content: center;
}

.page-selector {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: cadetblue;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  text-align: center;
  touch-action: manipulation;
  vertical-align: baseline;
}

.page-selector:hover {
  background-color: #b3d3ea;
  color: #2c5777;
}

.page-selector-disabled {
  color: gray;
  cursor: default;
}

.page-selector-disabled:hover {
  background-color: #e1ecf4;
  color: gray;
}

/* Loader */

.loader {
  display: flex;
  justify-content: center;
}

/* Autocomplete */
.aa-Autocomplete {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;

  margin-top: 10%;
}

.aa-Input {
  padding-left: 10px;
  padding-right: 10px;
}

.aa-Panel {
  z-index: 1;
}

.error-message {
  display: block;
  margin: 0 auto;

  width: 100%;
  max-width: 640px;

  height: 150px;

  text-align: center;

  color: red;
}

/* Filtering */

.filter-container {
  width: 15%;
  height: 100vh;

  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;

  float: left;

  border: 1px solid cadetblue;

  text-align: left;
  overflow-wrap: break-word;
}

.filter-title {
  text-align: center;
}

.filter-selection {
  text-align: center;
}

.filter-label {
  text-align: center;
}
