body {
    background-color: #FFFF;

    margin: 0;
    padding: 0;
}

input[type=text] {
    width: 75%;
    height: 15px;

    margin-top: 10%;
    padding: 10px;

    border: 2px solid gray;
    border-radius: 15px;
}

.search-section {
    text-align:center;

    width: 100%;
    height: 200px;
}

.results-section {
    width: 100%;
    height: 500px;
}

.hits-section {
    width: 85%;
    height: 1000px;

    margin: 0 auto;
}

.information-section {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    height: 25px;
}

.hits-information {
    margin-left: 10px;

    width: 50%;
    display: inline;
}

.page-information {
    margin-right: 10px;

    width: 50%;
    text-align: right;

    display: inline;
    float: right;
}

.hits-list {
    list-style: none;
    display: block;  
}

.result {
    padding-top: 20px;
}

.title{
    color: lightblue;
}